@import "compass";

// Import custom modules.
@import "base/module";
@import "helpers/module";

body {
    color: $color-primary;
    font-family: "Roboto", sans-serif
}

/* Header Styling */

.header {
    height:75px;
}

.header a{
    margin:auto;
}
.header, .header a{
    display:flex;
    flex-direction: row;
    align-items: center;
}


.header a{
    width:40%
}

.header img{
    max-height:50%;
    max-width:50%;
}

.header button{
    float: right;
    height:30%;
    margin-right: 10%;

}

/* Feature Items Styling */

.h_features {
    display: flex;
    flex-direction: column;
    padding:10%;
}

.h_feature_item *{
    float:left;
}

.h_feature_item img {
    width:40%;
}